<title> ToDo App </title>
<link href="/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2> A Simple ToDo List App </h2>
        <form action="/add" method="GET">
            <input type="text" name="newtask" placeholder="add new task"> 
            <button> Add </button>
            <h2> Added Task </h2>
        </form>
        <form action="/remove" method="GET">
            <button name="deletetask"> Remove </button>
        </form>
        <h2> Completed task </h2>
    </div>