extends layout

block content
  h1= title
  p This is the about page

  img(src="./public/images/shrek.jpg" alt="What are you doin in my swamp?!")

  p. 
    Mauris id nulla sollicitudin, scelerisque orci ut, luctus lacus. Quisque pretium quam nec viverra euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vel metus eget magna auctor efficitur. Aenean consequat urna venenatis augue dignissim placerat. Morbi sagittis justo in magna lobortis varius non a metus. Maecenas leo neque, suscipit in sem at, tristique sagittis diam. Donec tincidunt egestas ultricies. Phasellus at ultrices elit. Vivamus scelerisque faucibus lorem, in posuere nisi convallis ac. Etiam tincidunt nisl eros, eu tincidunt leo pellentesque vel. Praesent viverra velit elit, et facilisis metus placerat ac.
  p.
    Etiam non malesuada velit, sit amet mollis sem. Cras eu feugiat libero, vel euismod nisl. Nunc blandit erat sit amet commodo suscipit. Nulla semper eget libero sed eleifend. Etiam egestas mi cursus, efficitur lectus ut, egestas sem. Donec posuere dapibus tortor lacinia varius. Pellentesque nulla nisi, cursus id varius id, porta ut justo.
