extends layout

block content
  h1= "Lab 2"
  p Welcome to Aaron Heberts' Lab 2
  p. 
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et enim pharetra, tincidunt orci eu, commodo libero. Nam sit amet nulla eros. Duis vitae nisi consequat, varius magna a, ultrices nulla. Morbi euismod ante et pellentesque laoreet. Vivamus pharetra aliquet erat, posuere imperdiet ligula tempus eget. Sed aliquam laoreet neque non facilisis. Donec tincidunt mattis tortor eu congue."
