extends layout

block content
  h1= title
  p This is the Submit results page
  br

  p Thy name is <span class="forms"> #{name}</span>
  p Thy email is <span class="forms"> #{email}</span>
  p Thou may speak thy thoughts: <span class="forms"> #{comments}</span>

  br
  
