<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<table>
    <tbody>
        <form action="/grid" method="POST">
  Size of grid desired: <input type="text" name="gridSize"><br>
  <input type="submit" value="Submit">
</form>
    </tbody>
</table>
  </body>
</html>